@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

}

.custom-shape-divider-bottom-1728046211 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
} 

.custom-shape-divider-bottom-1728046211 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 450px;
  transform: rotateY(180deg); 
  transform-origin: top; 
  animation: slideDown 2s ease-out forwards; 
}

.custom-shape-divider-bottom-1728046211 .shape-fill {
  fill: #FABC3F;
}


svg#freepik_stories-forgot-password:not(.animated) .animable {opacity: 0;}svg#freepik_stories-forgot-password.animated #freepik--background-complete--inject-12 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight;animation-delay: 0s;}svg#freepik_stories-forgot-password.animated #freepik--Shadow--inject-12 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;animation-delay: 0s;}

svg#freepik_stories-forgot-password.animated #freepik--Login--inject-12 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn;animation-delay: 0s;}svg#freepik_stories-forgot-password.animated #freepik--Character--inject-12 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;}svg#freepik_stories-forgot-password.animated #freepik--Thinking--inject-12 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;} 
           
@keyframes lightSpeedRight {from { transform: translate3d(50%, 0, 0) skewX(-20deg);
 opacity: 0;              }              60% {                transform: skewX(10deg);                opacity: 1;              }              80% {                transform: skewX(-2deg);              }              to {                opacity: 1;                transform: translate3d(0, 0, 0);              }            }                    @keyframes slideRight {                0% {                    opacity: 0;                    transform: translateX(30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }                    @keyframes fadeIn {                0% {                    opacity: 0;                }                100% {                    opacity: 1;                }            }                    @keyframes slideUp {                0% {                    opacity: 0;                    transform: translateY(30px);                }                100% {                    opacity: 1;                    transform: inherit;                }       

}  









@media (max-width: 599px) {
  .custom-shape-divider-top-1728046211 svg {
      height: 100px;
  }
}

/* Medium screens (tablets, between 600px and 1024px wide) */
@media (min-width: 600px) and (max-width: 1024px) {
  .custom-shape-divider-top-1728046211 svg {
      height: 43vh;
      width: 1000px;
  }
}

/* Large screens (desktops, above 1024px wide) */
@media (min-width: 1025px) {
  .custom-shape-divider-top-1728046211 svg {
      height: 250px;
  }
}

.login-container img{
  width: 50%; /* Makes the image full width of its container */
  height: 50%;
  padding-top:25px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.login-container{
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center;
  align-items: center;/* Pushes items to the top */
  width: 100%;
  max-width: 400px; 
  border: black;
  
}
.login-container h1 {
  position: relative;
  top: -110px;
  left: -40px;
  display: block; /* Make it block-level */
  color: red;
  margin: 30px 0 20px 40px;
  height: auto; /* Remove fixed height */
}

.login-container h4 {
  position: relative;
  top: -120px;
  left: 20px;
  font-weight: 400;
  display: block; 
  margin: 10px 10px 10px 10px; 
  height: auto; 
}
.input-box{
  position: relative;
  height: 20px;
  line-height: 60px;
  margin-bottom: 80px;
  
}
input {
  position: absolute; 
  width: 100%;
  outline: none;
  font-size: 0.9em; 
  padding: 17px 14px; 
  line-height: normal;
  border-radius: 10px;
  border: 1.5px solid black;
  margin-top: 10%;
  top: -140px;
  left: -15px; 
  background: transparent;
  transition: 0.1s ease;
  z-index: 3;
  
}

.labelemail, .labelpass {
  position: absolute;
  left: -1px;
  top: -115px;
   font-size: 13px;
   color: black;
   transition: 0.5s ease; 
}


input:focus,
input:valid{
  color: #FF0000;
  border: 2px solid #FF0000;
}

input:focus + .labelemail,
input:valid + .labelemail,
input:focus + .labelpass,
input:valid + .labelpass{
  color: #FF0000;
  font-weight: bold;
  height: 34px;
  line-height: 5px;
  transform: translate(-20px, -7px) scale(0.80);
  z-index: 4;
}


.strength-meter {
  position: relative;
  height: 10px;
  width: 85%;
  top: -50px;
  right: -10px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

#strength-bar {
  height: 100%;
  width: 0;
  transition: width 0.5s ease;
}

#strength-text {
  position: relative;
  top: -80px;
  left: 12px;
  font-size: 10px;
}

.weak {
  background-color: white;
}

.medium {
  background-color: orange;
}

.strong {
  background-color: red;
}

.btn {
  margin: -30px;
}

.btn button {
  display: inline-block;
  width: 130px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid;
  position: relative;
  top: -80px;
  left: 100px;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  color: black;
  font-weight: 500;
  cursor: pointer;
 }

 button::before,
 button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
 }
 
 button::before {
  left: -9px;
  background: #FABC3F;
 }
 
 button::after {
  right: -9px;
  background: red;
 }
 
 button:hover::before,
 button:hover::after {
  width: 58%;
 }
 
 button:hover span {
  color: #e0aaff;
  transition: 0.3s;
 }
 
 button span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
 }

.register {
  margin-top: 50%;
  cursor: pointer;
}

.register a {
  color: red;
  font-size: 13px;
  text-decoration: underline;
  text-align: left
}